/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .row {
    padding: 0 15px;
  }
  .title--h1 {
    text-align: center;
  }
  .title--h1 + span {
    float: none;
    margin: 0 auto;
  }
  .title--h2 {
    font-size: 22px;
  }
  .page-header__content {
    margin-top: 0;
    padding-top: 90px;
  }
  .page-header__content .phone {
    width: 100%;
    text-align: center;
  }
  .page-header__content .text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .page-header__content .text span {
    font-weight: 700;
  }
  .page-header div.btn--order {
    width: 300px;
    float: none;
    margin: 0 auto;
  }
  .menu {
    position: absolute;
    top: -360px;
  }
  .menu__item {
    text-align: center;
  }
  .menu__item:last-child {
    display: block;
  }
  .menu__item:last-child .link {
    float: left;
  }
  .menu__item:last-child .btn--menu {
    display: block;
  }
}
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
