/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .page-header__content {
    margin-top: 0;
    padding-top: 90px;
  }
  .menu {
    position: absolute;
    top: -360px;
  }
  .menu__item {
    text-align: center;
  }
  .menu__item:last-child {
    display: block;
  }
  .menu__item:last-child .link {
    float: left;
  }
  .menu__item:last-child .btn--menu {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #fff;
    cursor: pointer;
  }
}
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
