@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.page-header{
		&__content{
			margin-top: 0;
			padding-top: 90px;
		}
		
	}
	.menu{
		position: absolute;
		top:-360px;
		&__item{
			text-align: center;
			&:last-child{
				display: block;
				.link{
					float: left;
				}
				.btn--menu{
					display: block;
					float: right;
					width: 40px;
					height: 40px;
					margin: 10px;
					background: #fff;
					cursor: pointer;
				}
			}
			// .link{
			// 	width: 100%;
			// }

		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}